/* EditExpense.css */

.edit-expense-container {
 margin-left: 230px;
    width: 60%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .expense-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 35px;
    border-bottom: 1px solid #ddd;
    flex-direction: column;
    background-color: white; /* Arka planı beyaz yap */
    border-radius: 10px; /* Köşeleri yuvarla */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); /* Hafif bir gölge ekle */
  }
  
  
  .expense-item label {
    flex: 1;
    margin-right: 10px;
  }
  
  .expense-item input,
  .expense-item select {
    flex: 2;
    padding: 8px;
    margin-right: 10px;
    width: 93%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .expense-item .delete-expense {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  
  button {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #4CAF50;
    color: white;
  }
  
  .update-button {
    background-color: #ffd500;
    color: white;
  }
  
  .reject-button {
    background-color: #f44336;
    color: white;
  }
  
  .select-category {
    flex: 2; /* Kategoriyi genişletmek için flex-grow kullan */
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 200px; /* Minimum genişlik ayarla */
  }
  
  @media (max-width: 768px) {
    .expense-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .expense-item input,
    .expense-item select {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .select-category {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  