/* EditExpense.css */
.edit-expense-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edit-expense-container h2 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.edit-expense-container h4 {
    font-size: 20px;
    font-weight: 500;
    color: #555;
    margin-top: 30px;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    margin-bottom: 8px;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    transition: all 0.3s ease;
}

input[disabled] {
    background-color: #eee;
    color: #888;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #00aaff;
    box-shadow: 0 0 5px rgba(0, 170, 255, 0.5);
}

.expense-item {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
}

.expense-item label {
    margin-bottom: 8px;
    font-weight: 500;
   
}
.expense-item input {
    width: calc(100% - 30px);
    margin: 5px 0;
}

button {
    background-color: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

button:hover {
    background-color: #0088cc;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

button:last-of-type {
    background-color: #ff5252;
}

button:last-of-type:hover {
    background-color: #e60000;
}

.edit-expense-container div {
    margin-bottom: 20px;
}

.edit-expense-container div label {
    margin-bottom: 5px;
}

button[disabled] {
    background-color: #ddd;
    cursor: not-allowed;
}

.edit-expense-container input[type="number"] {
    text-align: right;
}

@media (max-width: 768px) {
    .edit-expense-container {
        padding: 15px;
    }

    .edit-expense-container h2 {
        font-size: 20px;
    }

    .expense-item {
        padding: 10px;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
