/* ExpenseFormHistory.css */

/* Tabloyu ekranın ortasına alma */
.table-container {
  display: flex;
  justify-content: center;  /* Yatayda ortala */
  align-items: center;      /* Dikeyde ortala */
  height: 80%;
  margin:50px
}

.ag-theme-quartz {

  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.status-created {
  color: blue;
  font-weight: bold;
}

.status-updated {
  color: orange;
  font-weight: bold;
}
.status-approved {
  color: rgb(32, 199, 32);
  font-weight: bold;
}

.status-rejected {
  color: red;
  font-weight: bold;
}

.status-paid {
  color: rgb(37, 4, 4);
  font-weight: bold;
}
