form {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    color: #444;
    display: block;
    margin-bottom: 8px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  /* Her Harcama Satırının Stili */
  .expense-item {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 40px;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .expense-item input,
  .expense-item select {
    width: 100%;
  }
  
  .expense-item input[type="text"],
  .expense-item input[type="number"] {
    padding: 8px;
  }
  
  .delete-expense {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 10px;
  }
  

  

  

  
  /* Submit Butonu */
  button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Toplam Tutar */
  p.total-amount {
    font-size: 20px;
    color: #333;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
  }
 
  